<!DOCTYPE html>
<html lang="en" data-ng-app="">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Training Project</title>

</head>
<body data-ng-init="customers=[{name:'John Smith', city:'Phoenix'}, {name: 'John Doe', city:'New York'}, {name:'Jane Doe', city:'San Fransisco'}]">
Name:
<br/>
<input type="text" data-ng-model="name"/> {{name}}
<div class="container" data-ng-init="names=['Dave', 'Napur', 'Heedy', 'Shriva']">

    <h3>Looping with the ng-repeat directive</h3>
    <ul>
        <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{cust.name | uppercase}} - {{cust.city}}</li>
    </ul>

</div>

<script src="angular.min.js"></script>
</body>
</html>